:root {
    --outerborderColor: rgb(205, 198, 190);
    --logosBackgroundColor: rgb(220, 211, 204);
    --logosTextColor: rgb(170, 92, 74);
    --logosTextBackground: rgb(215, 195, 170, 80%);
    --logosTextBackgroundOdd: rgb(225, 215, 195, 80%);
    --logosTopCard: rgb(204, 90, 0);

    --mythosBackgroundColor: rgb(179, 168, 177, 255);
    --mythosTextColor: rgba(100,82,98,255);
    --mythosTextBackground: rgba(178,160,188,255);
    --mythosTextBackgroundOdd: rgb(169, 148, 167, 70%);
    --mythosTopCard: rgba(111,92,113,255);
}

body {
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
}
main {
    display: flex;
}

p {
    font-size: 28px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0px;
    padding: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline-block;
}

input[type="text"] {
    background-color: rgb(0,0,0,0.0);
    border: 0px;
    width: 100%;
    font-size: 18px;
    padding: 0px;
}

.card {
    border: solid var(--outerborderColor);
    border-width: 15px 10px;
    width: 250px;
    border-radius: 15px;
    padding: 0px;
    margin: 2px;
}

.trackingStatusRow {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
}

.trackingStatusRow:after {
    content: "";
    display: table;
    clear: both;
}

.column p {
    font-size: 8px;
    text-align: center;
}

input[type="checkbox"] {
    -webkit-appearance: initial;
    appearance: initial;
    background: rgb(230, 230, 240);
    width: 10px;
    height: 10px;
    border: none;
    position: relative;
}

.crack input[type="checkbox"]:checked {
    background: red;
}

.attention input[type="checkbox"]:checked {
    background: lightgreen;
}

.crack input[type="checkbox"]:checked:after {
    content: "X";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.attention input[type="checkbox"]:checked:after {
    content: "✓";
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.backText {
    color: rgb(230, 230, 240, 40%);
    position: relative;
    width: 100%;
    height: 34px;
    border-bottom: dashed;
}

    .backText p {
        padding: 0px;
        font-size: 38px;
        font-weight: bolder;
        text-transform: uppercase;
        display: block;
        position: absolute;
        text-align: center;
        margin-top: -4px;
    }

    .backText input[type="text"] {
        font-weight: bolder;
        text-transform: uppercase;
        position: absolute;
        z-index: 1;
        margin-top: 6px;
    }

.section input[type="text"] {
    border-bottom: dotted rgb(200,200,200);
}

select {
    appearance: none;
    outline: 0;
    border: 0;
    box-shadow: none;
    cursor: pointer;
    font-size: 23px;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
    /* Remove IE arrow */
    select::-ms-expand {
        display: none;
    }

.top {
    display: flex;
    position: relative;
}

.card .top input[type="text"] {
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    border-top: dotted rgb(0,0,0,0.0);
    border-bottom: dotted rgb(200,200,200, 0.35);
}

.title p:nth-child(2) {
    font-size: 8px;
    float: right;
    text-align: center;
    margin-top: -22px;
}

.tags {
    display: flex;
    border-bottom: dotted rgb(200,200,200,1);
}

    .tags input[type="text"]:nth-child(1) {
        width: 10%;
        border: none;
        text-align: center;
        text-transform: Uppercase;
        font-weight: bold;
    }

    .tags input[type="text"]:nth-child(2) {
        width: 85%;
        border: none;
    }

    .tags input[type="checkbox"] {
        font-size: 8px;
        float: right;
        text-align: center;
        margin-top: 5px;
        margin-right: 7px;
        cursor: pointer;
    }

.sectionPowerTag input[type="checkbox"]:checked:after {
    font-size: 16px;
    content: "🔥";
    position: absolute;
    left: -40%;
    top: -50%;
}

.sectionWeakTag input[type="checkbox"]:checked:after {
    font-size: 16px;
    content: "⚡";
    position: absolute;
    left: -60%;
    top: -50%;
}

.logos .tags:nth-child(odd) {
    background-color: var(--logosTextBackgroundOdd);
}

.logos .section .tags input[type="text"]:nth-child(1n+4) {
    background-color: var(--logosTextBackgroundOdd);
}

.logos .section .tags input[type="text"]:nth-child(2n+1) {
    border-right: dotted rgb(200,200,200,1);
}

.logos {
    background-color: var(--logosBackgroundColor);
    color: var(--logosTextColor);
}

    .logos .top p {
        background-color: var(--logosTopCard);
    }

    .logos select {
        background-color: var(--logosTopCard);
        color: var(--logosTextColor);
    }

    .logos p {
        background-color: var(--logosTextBackground);
    }

    .logos .backText {
        background-color: var(--logosTextBackground);
    }

    .logos input[type="text"] {
        color: var(--logosTopCard);
    }

    .logos .top input[type="text"] {
        background-color: var(--logosTopCard);
    }

.mythos {
    background-color: var(--mythosBackgroundColor);
    color: var(--mythosTextColor);
}

    .mythos .tags:nth-child(odd) {
        background-color: var(--mythosTextBackgroundOdd);
    }

    .mythos .section .tags input[type="text"]:nth-child(1n+4) {
        background-color: var(--mythosTextBackgroundOdd);
    }

    .mythos .section .tags input[type="text"]:nth-child(2n+1) {
        border-right: dotted rgb(200,200,200,1);
    }

    .mythos .top p {
        background-color: var(--mythosTopCard);
    }

    .mythos select {
        background-color: var(--mythosTopCard);
        color: var(--mythosTextColor);
    }

    .mythos p {
        background-color: var(--mythosTextBackground);
    }

    .mythos .backText {
        background-color: var(--mythosTextBackground);
    }

    .mythos input[type="text"] {
        color: var(--mythosTopCard);
    }

    .mythos .top input[type="text"] {
        background-color: var(--mythosTopCard);
    }
