<article class="card logos" tabindex="1">
    <div class="logosTheme">
        <div class="top logosTop"><p>Type</p></div>
        <div class="backText">
            <input type="text" name="theme" />
            <p style="background-color: rgb(0,0,0,0.0);">Theme</p>
        </div>
        <div class="backText">
            <input type="text" name="title" />
            <p style="background-color: rgb(0,0,0,0.0);">Title</p>
        </div>
        <div class="trackingStatusRow">
            <div class="column">
                <p>Attention</p>
                <ul class="attention">
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                </ul>
            </div>
            <div class="column">
                <p>Crack</p>
                <ul class="crack">
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="sectionId">
                <p>Identity</p>
                <input type="text" />
            </div>
            <div class="sectionPowerTag">
                <p>PowerTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionWeakTag">
                <p>WeaknessTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionImprov">
                <p>Improvements</p>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionFlipside">
                <p>Filpside</p>
                <input type="text" />
            </div>

        </div>
    </div>
</article>