<article class="card" tabindex="0">
    <div class="logos">
        <div class="top">
            <select>
                <option>Logos</option>
                <option>Mythos</option>
            </select>
            <p> : </p>
            <input type="text">
        </div>
        <div class="backText">
            <input type="text" name="theme" />
            <p style="background-color: rgb(0,0,0,0.0);">Theme</p>
        </div>
        <div class="backText">
            <input type="text" name="title" />
            <p style="background-color: rgb(0,0,0,0.0);">Title</p>
        </div>
        <div class="trackingStatusRow">
            <div class="column">
                <p>Attention</p>
                <ul class="attention">
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                </ul>
            </div>
            <div class="column">
                <p>Crack</p>
                <ul class="crack">
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="sectionId">
                <p>Identity</p>
                <input type="text" />
            </div>
            <div class="sectionPowerTag">
                <p>PowerTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionWeakTag">
                <p>WeaknessTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionImprov">
                <p>Improvements</p>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionFlipside">
                <p>Filpside</p>
                <input type="text" />
            </div>
        </div>
    </div>
</article>
<article class="card" tabindex="1">
    <div class="logos">
        <div class="top">
            <select>
                <option>Logos</option>
                <option>Mythos</option>
            </select>
            <p> : </p>
            <input type="text">
        </div>
        <div class="backText">
            <input type="text" name="theme" />
            <p style="background-color: rgb(0,0,0,0.0);">Theme</p>
        </div>
        <div class="backText">
            <input type="text" name="title" />
            <p style="background-color: rgb(0,0,0,0.0);">Title</p>
        </div>
        <div class="trackingStatusRow">
            <div class="column">
                <p>Attention</p>
                <ul class="attention">
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                </ul>
            </div>
            <div class="column">
                <p>Crack</p>
                <ul class="crack">
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="sectionId">
                <p>Identity</p>
                <input type="text" />
            </div>
            <div class="sectionPowerTag">
                <div class="title">
                    <p>Power</p>
                    <p>Burn</p>
                </div>
                <div class="tags">
                    <input type="text" />
                    <input type="checkbox" />
                </div>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionWeakTag">
                <div class="title">
                    <p>Weakness</p>
                    <p>Invoke</p>
                </div>

                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionImprov">
                <p>Improvements</p>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionFlipside">
                <p>Filpside</p>
                <input type="text" />
            </div>
        </div>
    </div>
</article>
<article class="card" tabindex="2">
    <div class="logos">
        <div class="top">
            <select>
                <option>Logos</option>
                <option>Mythos</option>
            </select>
            <p> : </p>
            <input type="text">
        </div>
        <div class="backText">
            <input type="text" name="theme" />
            <p style="background-color: rgb(0,0,0,0.0);">Theme</p>
        </div>
        <div class="backText">
            <input type="text" name="title" />
            <p style="background-color: rgb(0,0,0,0.0);">Title</p>
        </div>
        <div class="trackingStatusRow">
            <div class="column">
                <p>Attention</p>
                <ul class="attention">
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                </ul>
            </div>
            <div class="column">
                <p>Crack</p>
                <ul class="crack">
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="sectionId">
                <p>Identity</p>
                <input type="text" />
            </div>
            <div class="sectionPowerTag">
                <p>PowerTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionWeakTag">
                <p>WeaknessTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionImprov">
                <p>Improvements</p>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionFlipside">
                <p>Filpside</p>
                <input type="text" />
            </div>
        </div>
    </div>
</article>
<article class="card" tabindex="3">
    <div class="logos">
        <div class="top">
            <select>
                <option>Logos</option>
                <option>Mythos</option>
            </select>
            <p> : </p>
            <input type="text">
        </div>
        <div class="backText">
            <input type="text" name="theme" />
            <p style="background-color: rgb(0,0,0,0.0);">Theme</p>
        </div>
        <div class="backText">
            <input type="text" name="title" />
            <p style="background-color: rgb(0,0,0,0.0);">Title</p>
        </div>
        <div class="trackingStatusRow">
            <div class="column">
                <p>Attention</p>
                <ul class="attention">
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                    <li>
                        <input type="checkbox" id="attention" name="attention">
                    </li>
                </ul>
            </div>
            <div class="column">
                <p>Crack</p>
                <ul class="crack">
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                    <li>
                        <input type="checkbox" id="crack" name="crack">
                    </li>
                </ul>
            </div>
        </div>
        <div class="section">
            <div class="sectionId">
                <p>Identity</p>
                <input type="text" />
            </div>
            <div class="sectionPowerTag">
                <p>PowerTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionWeakTag">
                <p>WeaknessTags</p>
                <input type="text" />
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionImprov">
                <p>Improvements</p>
                <input type="text" />
                <input type="text" />
            </div>
            <div class="sectionFlipside">
                <p>Filpside</p>
                <input type="text" />
            </div>
        </div>
    </div>
</article>